{% extends "base_has_profile.html" %}
{% load i18n %}
{% block page_id %}change-password-page{% endblock %}

{% block help_context %}#change-password{% endblock %}
{% block breadcrumbs %}
<a href="/{{user.trader_id}}/shopping-list/">{{user.username|escape}}</a> &middot;
<a href="/{{user.trader_id}}/traders/{{user.trader_id}}/">{% trans "My business card" %}</a> &middot;
<span>{% trans "Change password" %}</span>
{% endblock %}

{% block main %}
<h2>{% trans "Change your password" %}</h2>
<form method="post" action="">{% csrf_token %}
  <p class="legend">
    {% blocktrans %}
    <strong>Please, be extremely careful:</strong> If you forget or
    mistype your new password, you may end up being unable to access
    your account.
    {% endblocktrans %}
  </p>
  {% if form.wrong_password %}<ul class="errorlist"><li>{% trans "ERROR: The old password that you supplied is incorrect." %}</li></ul>{% endif %}
  {% for error in form.non_field_errors %}<ul class="errorlist"><li>{{error}}</li></ul>{% endfor %}

  {{form.old_password.errors}}
  <p><label for="id_old_password">{{form.old_password.label}}:</label> <input id="id_old_password" type="password" name="old_password" /> {{form.old_password.help_text}}</p>

  {{form.password.errors}}
  <p><label for="id_password">{{form.password.label}}:</label> <input id="id_password" type="password" name="password" /> {{form.password.help_text}}</p>

  {{form.password2.errors}}
  <p><label for="id_password2">{{form.password2.label}}:</label> <input id="id_password2" type="password" name="password2" /> {{form.password2.help_text}}</p>

  <p class="submit"><input type="submit" value="{% trans "Submit" %}"></p>
</form>
{% endblock %}
