{% extends "base_has_profile.html" %}
{% load i18n %}
{% block page_id %}pricelist-success-page{% endblock %}

{% block help_context %}#my-pricelist{% endblock %}
{% block breadcrumbs %}
<a href="/{{user.trader_id}}/shopping-list/">{{user.username|escape}}</a> &middot;
<span>{% trans "My pricelist" %}</span>
{% endblock %}

{% block main %}
<h2>{% trans "My pricelist" %}</h2>
<p class="legend">{% trans "Your pricelist has been updated." %}</p>
{% if errors %}
<p>
  <strong>{% trans "Warning:" %} </strong> 
  {% blocktrans count errors as count %}
    One of the fields contained an invalid price.
  {% plural %}
    {{count}} of the fields contained invalid prices.
  {% endblocktrans %}
</p>
{% endif %}
{% endblock %}
