{% extends "base_has_profile.html" %}
{% load i18n %}
{% load myfilters %}
{% block page_id %}search-page{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/static/common.js"></script>
<script type="text/javascript">
  <!--
  function focusSearchBox() {
    search_box = document.getElementById('search_box')
    if (search_box) search_box.focus();
  }
  addEvent(window, 'load', focusSearchBox);
  //-->
</script>
{% endblock %}

{% block help_context %}#suggested-partners{% endblock %}
{% block breadcrumbs %}
<a href="/{{user.trader_id}}/shopping-list/">{{user.username|escape}}</a> &middot;
<a href="/{{user.trader_id}}/partners/">{% trans "My partners" %}</a> &middot;
<a href="/{{user.trader_id}}/partners/{{trust.issuer_id}}/">&quot;{{trust.name|escape}}&quot;</a> &middot;
<span>{% trans "Trusted traders" %}</span>
{% endblock %}

{% block main %}
<h2>{% blocktrans with trust.name|escape as partner %}Traders trusted by "{{partner}}"{% endblocktrans %}</h2>
{% if query or number_of_items > 0 %}
  <form method="get" action=""><p><input id="search_box" type="text" name="q" value="{{query|escape}}" size="45" maxlength="70"><input type="submit" value="{% trans "Search" %}"></p></form>
  <h3>{% if number_of_pages > 1 or current_page > 1 %}{% blocktrans with first_visible_item_seqnum as first and last_visible_item_seqnum as last and number_of_items as total_count %}{{first}}-{{last}} of {{total_count}} traders{% endblocktrans %}{% else %}{% blocktrans count number_of_items as total_count %}{{total_count}} trader{% plural %}{{total_count}} traders{% endblocktrans %}{% endif %}</h3>
  <dl id="search_results">{% for row in visible_items %}<dt><a href="/{{row.issuer_id}}/">{{row.name|safe}}</a></dt><dd>{% if row.comment %}{{row.comment|safe}}{% else %}{% trans "Trader" %} {{row.issuer_id|traderid}}{% endif %}</dd>{% endfor %}</dl>
  {% if number_of_pages > 1 or current_page > 1 %}<div id="page_navigation_strip" class="noprint">{% if current_page > 1 %}<a id="previous_page" rel="prev" href="?q={{query|urlencode|iriencode}}&amp;page={% if current_page <= number_of_pages %}{{current_page|add:"-1"}}{% else %}{{number_of_pages}}{% endif %}">{% trans "Prev" %}</a>{% endif %} {% for page in visible_pages %}{% if page == current_page %}<span id="current_page">{{page}}</span>{% else %}<a href="?q={{query|urlencode|iriencode}}&amp;page={{page}}">{{page}}</a>{% endif %} {% endfor %}{% if current_page < number_of_pages %}<a id="next_page" rel="next" href="?q={{query|urlencode|iriencode}}&amp;page={{current_page|add:"1"}}">{% trans "Next" %}</a>{% endif %}</div>{% endif %}
{% else %}
  <p class="legend"><em>{% trans "No traders" %}</em></p>
{% endif %}
{% endblock %}
